/* General rules */
body {
		margin: 0;
		border-top: 10px solid #01C690;
		background-color: #0E2C37;
		font-family: helvetica, sans-serif;
}

h1 {
		color: #01C690;
		font-family: Alef, sans-serif;

}

.container {
		width: 970px;
		margin: 20px auto;
}

.inner {
		padding: 0 15px;
}

/* Navbar */
.navbar {
		text-align: center;
		font-family: Alef, sans-serif;
}
.navbar ul {
		list-style-type: none;
		padding: 0;
		display: table-row;
}

.navbar ul li {
		display: table-cell;
		vertical-align: middle;
}

.navbar ul .item {
}

.navbar ul li a {
		background-color: #07232e;
    color: #01c690;
    display: inline-table;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    padding: 17px;
    text-align: left;
    text-decoration: none;
    width: 110px;
		margin: 0 15px
}

.navbar ul li a:hover {
		background-color: #01C690;
		color: #07232e;
}

/* Call to action */
.call-to-action {
		font-size: 43px;
		font-weight: lighter;
}

.call-to-action small {
		font-style: italic;
		font-size: 23px;
}

/* Slider */
.slick-arrow, .slick-next {
		display: none !important;
}

.slick-dots li button:before {
		font-size: 20px;
		margin-top: 10px;
		color: 00000b;
}

.slick-dots li.slick-active button:before {
		color: #01C690;
}

/* Body cols */
.l-col, .r-col {
		width: 50%;
		padding: 10px 0;
		float: left;
		color: #fff;
}

/* Form */
.contact-form input {
		border: 0;
		background-color: #07232e;
		color: #3d525d;
		width: 250px;
		padding: 10px;
		margin-bottom: 7px;
}}